* {
    margin: 0;
}

.h1 {
    padding: .8rem;
    font-size: 3rem;
}

.search {
    border-radius: .4rem;
    padding: .5rem;
    margin-bottom: .8rem;
}

img{
    display: inline;
}

.high{
    background-color: red;
    color: white;
    border-radius: .2rem;
}

.med{
    background-color:yellow;
    color: white;
    border-radius: .2rem;
}

.low{
    background-color: greenyellow;
    color: white;
    border-radius: .2rem;
}

.weather-info{
    padding: 15px;
}